<%= simple_form_for([event, student], html: { class: 'form-inline '}) do |f| %>
  <div class="panel-body">
  
    <%= f.hidden_field :event_id, :value => event.id %> 
    <div class="input-group col-md-10 col-md-offset-1">
      <%= f.input :name, label:false, placeholder: "Nome", wrapper:false %> 
      <div class="input-group-btn">
        <%= f.submit "Adicionar", class:"btn btn-success col-md-12", wrapper:false %>
      </div>
    </div>
      
    
  </div>    
<% end %>

        