<%= simple_form_for(@event, html: { class: 'horizontal-form '}) do |f| %>
  <div class="panel-body">
    <%= f.input :name %> 
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Voltar",:back, class: "btn btn-default" %>
  </div>    
<% end %>
