@import "bootstrap-sprockets";
@import "bootstrap";

.teste{
  background: green;
}
.right{
  margin-right:0;
}
.container{
  margin-top:50px;
}
.panel-heading{
  font-size:1.5em;
  font-weight: bold;
}